/* Hector Ramos */
/* April 13, 2016 */
@charset "utf-8";

body {
    background-image: url("http://i.imgur.com/bZY0uq8.jpg");
}

#aggro {
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 15%;
    width: 15%;
    background-image: url("http://i.imgur.com/aPxcZEu.jpg");
    background-size: 100% 100%;
}

#cricket {
    position: fixed;
    left: 90%;
    bottom: 90%;
    height: 10%;
    width: 10%;
    background-image: url("http://i.imgur.com/xY0qtnO.png");  
    background-size: 100% 100%;
}

#eaten {
    position: fixed;
    left: 90%;
    bottom: 90%;
    height: 10%;
    width: 10%;
    background-image: url("http://i.imgur.com/NIeSU27.png");  
    background-size: 100% 100%; 
    z-index: -1;  
}

#score {
    position: fixed;
    left: 0%;
    bottom: 0%;
}