<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Aggro Eats!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'AggroEats/style.css' %}" >
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'AggroEats/script.js' %}" charset="UTF-8"></script>
  </head>  

  <body>
    {% block content %}
    <audio id="bite" src="{% static 'AggroEats/audio/bite.mp3' %}"></audio>
    <audio id="bzzt" src="{% static 'AggroEats/audio/bzzt.mp3' %}"></audio>

    <!-- Starting Modal -->
    <div id="greeting" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <script type="text/javascript">
            $(window).load(function(){
                $('#greeting').modal('show');
            });
        </script>

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Aggro Eats!</h4>
          </div>
          <div class="modal-body">
            <p>
              Aggro the lizard is hungry - help him eat his full of crickets by clicking on the cricket to eat it! The cricket moves between each click, and the time given to click it each time gets shorter as you go! <br><br>The top 10 scores and their scorers will be uploaded to the leaderboard! Good luck! 
            </p>
            {% if user.is_authenticated %}
            <br>Logged in as {{ user.username }}<br>
            <a href="logout/">Logout</a>
            {% else %}
            <p>
              You can play without logging in, but the results won't be saved.
            </p>
            <a href="login/">Login</a><br>
            <a href="register/">Register</a>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Play</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Ending Modal -->
    <div id="leaderboard" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Aggro Eats!</h4>
          </div>
          <div class="modal-body">
            <p>Time's up! Click the cricket to try again!</p>
            <table id="topScores" width="50%">
                <thead>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                </thead>
                <tbody>
                </tbody>
            </table><br>
            {% if user.is_authenticated %}
            <a href="logout/">Logout</a>
            {% else %}
            <a href="login/">Login</a><br>
            <a href="register/">Register</a>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Play</button>
          </div>
        </div>

      </div>
    </div>

    {% endblock content %}
  </body>
</html>