.settings_form input {
    width: 100%;
}

.twoot_display {
    word-wrap: break-word;
}

.twotter_profile_link {
    text-decoration: none;
}

.twotter_profile_link:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    text-decoration: underline;
}

#twoot_character_count {
    float: right;
}

iframe {
    vertical-align: bottom;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 30vh;        /* Viewport-relative units */
    width: 100%;
}

