.settings_form input {
    width: 100%;
}

.input_field {
    width: 100%;
}

.twoot_display {
    word-wrap: break-word;
}

.navbar_avatar {
    height: 26px;
    width: 26px;
}

.profile_avatar {
    height:120px;
    width:120px;
}

.twoot_avatar {
    height:60px;
    width:60px
}

.twotter_link {
    text-decoration: none;
}

.twotter_link:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    text-decoration: underline;
}

#twoot_character_count {
    float: right;
}

iframe {
    vertical-align: bottom;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 35vh;        /* Viewport-relative units */
    width: 100%;
}

