<!DOCTYPE html>
{% extends "twotter/base.html" %}
{% load staticfiles %}

{% block title %}
  {% if twotter_profile %}
    {{ twotter_profile.display_name }}'s Twotter Feed
  {% else %}
    Twotter Home Page
  {% endif %}
{% endblock title %}

{% block content %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
    {% if twotter_profile %}
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center">{{ twotter_profile.display_name }}</h4>
          <p class="w3-center"><img src="{{ twotter_profile.avatar_url }}" class="w3-circle profile_avatar" alt="Avatar"></p>
          <hr>
          <p><i class="fa fa-pencil w3-margin-right w3-text-theme"></i> {{ twotter_profile.description }}</p>
          <p><i class="fa fa-home w3-margin-right w3-text-theme"></i> {{ twotter_profile.location }}</p>
          <p><i class="fa fa-birthday-cake w3-margin-right w3-text-theme"></i> {{ twotter_profile.birthday }}</p>
          <p id="twoot_count"><i class="fa fa-file-text-o w3-margin-right w3-text-theme"></i> <a href="{{ request.host_name }}/twotter/user/{{ twotter_profile.user.username }}/#twoots" class="twotter_link">{{ twotter_profile.twoot_count }} Twoots</a></p>
          <p id="retwoot_count"><i class="fa fa-retweet w3-margin-right w3-text-theme"></i> {{ twotter_profile.retwoot_count }} Retwoots</p>
          <p id="favorite_count"><i class="fa fa-heart w3-margin-right w3-text-theme"></i> <a href="{{ request.host_name }}/twotter/user/{{ twotter_profile.user.username }}/#favorites" class="twotter_link">{{ twotter_profile.favorite_count }} Favorites</a></p>
          <p><i class="fa fa-user w3-margin-right w3-text-theme"></i> {{ twotter_profile.following_count }} Following</p>
          <p><i class="fa fa-user w3-margin-right w3-text-theme"></i> {{ twotter_profile.follower_count }} Followers</p>
          <a href="{{ request.host_name }}/twotter/settings/"><button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom" style="width: 100%;">Edit Profile Settings</button></a> 
        </div>
      </div>
      <br>
    {% else %}
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Guest</h4>
         <p class="w3-center"><img src="http://i.imgur.com/3iMO8An.png" class="w3-circle profile_avatar" alt="Avatar"></p>
         <hr>
        </div>
      </div>
      <br>
    {% endif %}

    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
    <!-- Twoot Post Form -->
    {% if twotter_profile %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h5 class="w3-opacity">What's happening?</h5>
              <input type="text" name="twoot" id="twoot_text" placeholder="Enter up to 140 character twoot here!" maxlength="200" class="w3-border w3-padding w3-margin-bottom input_field" autofocus></input>
              <button class="w3-btn w3-theme" name="button" value="make_twoot" id="twoot_button" disabled><i class="fa fa-pencil"></i>  Twoot!</button><span id="twoot_character_count"></span>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Guest users can't make or interact with twoots. <br><a href="login/">Please sign in or make an account.</a></h6> 
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if twotter_profile.following_count == 0 %}
      <br>
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              You don't seem to be following anyone yet. <br><a href="{{ request.host_name }}/twotter/profile_list/">Why not check out the user list?</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!--- Twoot Display Section -->
    <div id="twoot_feed">
    {% for retwoot, twoot in twoots %}
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin twoot_display" id="twoot_{{ twoot.pk }}">
      {% if retwoot %}
          <i class="fa fa-retweet"></i> <a href="{{ request.host_name }}/twotter/user/{{ retwoot.twotter_profile.user.username }}/">{{ retwoot.twotter_profile.display_name }}</a> retwooted this on {{ retwoot.creation_date }}
          <br>
      {% endif %}
        <br>
        <a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/"><img src="{{ twoot.twotter_profile.avatar_url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right twotter_link twoot_avatar"></a>
        <span class="w3-right w3-opacity">
      {% if user == twoot.twotter_profile.user or user.username == "admin" %}
          <li class="w3-right w3-dropdown-click">
            <i class="fa fa-caret-down dropdown_toggle" aria-hidden="true"></i>
            <div class="w3-dropdown-content w3-white w3-card-4" style="right: 0;">
              <a href="javascript:void(0)" id="delete_{{ twoot.pk }}" onclick="delete_twoot(this.id)">Delete</a>
            </div>
          </li>
      {% endif %}
          <br>
          <a href="{{ request.host_name }}/twotter/twoot/{{ twoot.pk}}/" class="twotter_link">{{ twoot.creation_date }}</a>
      {% if user.is_authenticated and user != twoot.twotter_profile.user %}
          <br>
          <span class="w3-right">
            <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom follow_button" id="follow_{{ twoot.twotter_profile.pk }}" title="Follow/Unfollow User"><i class="fa {% if twoot.twotter_profile.pk in user_following_pks %}fa-user-times followed{% else %}fa-user-plus{% endif %}"></i></button> 
          </span>
      {% endif %}
        </span>
        <h4><a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/" class="twotter_link">{{ twoot.twotter_profile.display_name }}</a>
        </h4><br>
        <hr class="w3-clear">
        <p class="twoot_text">{{ twoot.text }}</p>
        <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom retwoot_button" id="retwoot_{{ twoot.pk }}" title="Retwoot Twoot"><i class="fa fa-retweet {% if twoot.pk in user_retwoot_pks %}retwooted{% endif %}"></i>{% if twoot.retwoot_count > 0 %} {{ twoot.retwoot_count }} {% endif %}</button>
        <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom favorite_button" id="favorite_{{ twoot.pk }}" title="Favorite Twoot"><i class="fa fa-heart {% if twoot.pk in user_favorite_pks %}favorited{% endif %}"></i>{% if twoot.favorite_count > 0 %} {{ twoot.favorite_count }} {% endif %}</button> 
        <!-- To be implemented!
        <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> -->
      </div>
    {% endfor %}
    </div>
      
    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container twoot_display">
          <p><strong>Latest Updates</strong></p>
          <hr>
          <div class="w3-margin-bottom">
            <u><p>May 8, 2016:</p></u>
            <span style="text-align: left;">
              <p>1. Notifications</p>
              <p>2. Twotter Search</p>      
            </span>
          </div>
          <br>
          <div class="w3-margin-bottom">
            <u><p>May 8, 2016:</p></u>
            <span style="text-align: left;">
              <p>1. Notifications</p>
              <p>2. Twotter Search</p>      
            </span>
          </div>
          <br>
          <div class="w3-margin-bottom">
            <u><p>May 7, 2016:</p></u>
            <span class="w3-margin-bottom" style="text-align: left;">
              <p>1. Retwoots</p>
              <p>2. Favorites</p>
              <p>3. Profile Display Toggling</p>
              <p>4. Single Twoot Display</p>       
            </span>
          </div>
        </div>
      </div>
      <br>
    
    <!-- To be implemented!
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request Placeholder</p><br>
          <span>Said Person</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-btn w3-green w3-btn-block w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-btn w3-red w3-btn-block w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <div class="w3-card-2 w3-round w3-white w3-padding-hor-16 w3-center">
        <p>ADS Placeholder</p>
      </div>
      <br>
      
      <div class="w3-card-2 w3-round w3-white w3-padding-hor-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
      
    </div>
    -->
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

{% endblock content %}