<!DOCTYPE html>
{% extends "twotter/base.html" %}
{% load staticfiles %}

{% block title %}{{ twotter_profile.display_name }}'s Profile{% endblock title %}

{% block content %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center">{{ twotter_profile.display_name }}</h4>
          <p class="w3-center"><img src="{{ twotter_profile.avatar_url }}" class="w3-circle profile_avatar" alt="Avatar"></p>
          <hr>
          <p><i class="fa fa-pencil w3-margin-right w3-text-theme"></i> {{ twotter_profile.description }}</p>
          <p><i class="fa fa-home w3-margin-right w3-text-theme"></i> {{ twotter_profile.location }}</p>
          <p><i class="fa fa-birthday-cake w3-margin-right w3-text-theme"></i> {{ twotter_profile.birthday }}</p>
          <p id="twoot_count"><i class="fa fa-file-text-o w3-margin-right w3-text-theme"></i> <a href="#twoots" class="twotter_link twoots_toggle">{{ twotter_profile.twoot_count }} Twoots</a></p>
          <p id="retwoot_count"><i class="fa fa-retweet w3-margin-right w3-text-theme"></i> {{ twotter_profile.retwoot_count }} Retwoots</p>
          <p id="favorite_count"><i class="fa fa-heart w3-margin-right w3-text-theme"></i> <a href="#favorites" class="twotter_link favorites_toggle">{{ twotter_profile.favorite_count }} Favorites</a></p>
          <p><i class="fa fa-user w3-margin-right w3-text-theme"></i> {{ twotter_profile.following_count }} Following</p>
          <p><i class="fa fa-user w3-margin-right w3-text-theme"></i> {{ twotter_profile.follower_count }} Followers</p>
      {% if user == twotter_profile.user %}
          <a href="{{ request.host_name }}/twotter/settings/"><button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom" style="width: 100%;">Edit Profile Settings</button></a>
      {% elif user.is_authenticated and user != twotter_profile.user %}
          <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom follow_button follow_{{ twotter_profile.pk }}"  name="follow_{{ twotter_profile.pk }}" title="Follow/Unfollow User" style="width: 100%;"><i class="fa w3-margin-right {% if twotter_profile.pk in user_following_pks %}fa-user-times followed{% else %}fa-user-plus{% endif %}"></i>Follow/Unfollow User</button>
      {% endif %}
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m8">
    
    <!-- Twoot Post Form -->
    <!-- To be implemented!
    {% if user.is_authenticated and user == twotter_profile.user %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3>{{ twotter_profile.user.username }}'s Profile Page</h3><br>
              <h6 class="w3-opacity">What's happening?</h6>
              <p contenteditable="true" class="w3-border w3-padding" name="twoot" id="twoot_text">Enter 140 character twoot here!</p>
              <button class="w3-btn w3-theme" name="button" value="make_twoot" id="twoot_button" disabled><i class="fa fa-pencil"></i>  Twoot!</button><span id="twoot_character_count"></span>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3>{{ twotter_profile.user.username }}'s Profile Page</h3><br>
            {% if not user.is_authenticated %}
              <h6 class="w3-opacity">Guest users can't make or favorite twoots. <br><a href="login/">Please sign in or make an account.</a></h6> 
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    -->

      <!--- Twoots/Favorites Display Toggle -->
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3>{{ twotter_profile.display_name }}'s Profile Page</h3><br>
              <h6 id="toggle_links">
                <a href="#twoots"><button type="button" class="w3-btn w3-theme-d1 twoots_toggle" id="profile_twoots_button" disabled>{{ twotter_profile.display_name }}'s Twoots</button></a>
                <a href="#favorites"><button type="button" class="w3-btn w3-theme-d1 favorites_toggle" id="profile_favorites_button">{{ twotter_profile.display_name }}'s Favorites</button></a>
                <br>
                <a href="#following"><button type="button" class="w3-btn w3-theme-d1 following_toggle" id="profile_following_button">Following {{ twotter_profile.following_count }}</button></a>
                <a href="#followers"><button type="button" class="w3-btn w3-theme-d1 followers_toggle" id="profile_followers_button">{{ twotter_profile.follower_count }} Followers</button></a>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <!-- Twoot Display Section -->
      <div class="display_section" id="profile_twoots">
      {% for retwoot_creation_date, twoot in twoots %}
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin twoot_display" id="twoot_{{ twoot.pk }}">
        {% if retwoot_creation_date %}
          <i class="fa fa-retweet"></i> <a href="{{ request.host_name }}/twotter/user/{{ twotter_profile.user.username }}/">{{ twotter_profile.display_name }}</a> retwooted this on {{ retwoot_creation_date }}
          <br>
        {% endif %}
          <br>
          <a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/"><img src="{{ twoot.twotter_profile.avatar_url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right twotter_link twoot_avatar"></a>
          <span class="w3-right w3-opacity">
          {% if user == twoot.twotter_profile.user or user.username == "admin" %}
            <li class="w3-right w3-dropdown-click">
              <i class="fa fa-caret-down dropdown_toggle" aria-hidden="true"></i>
              <div class="w3-dropdown-content w3-white w3-card-4" style="right: 0;">
                <a href="javascript:void(0)" id="delete_{{ twoot.pk }}" onclick="delete_twoot(this.id)">Delete</a>
              </div>
            </li>
          {% endif %}
            <br>
            <a href="{{ request.host_name }}/twotter/twoot/{{ twoot.pk}}/" class="twotter_link">{{ twoot.creation_date }}</a>
        {% if user.is_authenticated and user != twoot.twotter_profile.user %}
            <br>
            <span class="w3-right">
              <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom follow_button follow_{{ twoot.twotter_profile.pk }}" name="follow_{{ twoot.twotter_profile.pk }}" title="Follow/Unfollow User"><i class="fa {% if twoot.twotter_profile.pk in user_following_pks %}fa-user-times followed{% else %}fa-user-plus{% endif %}"></i></button>
            </span>
        {% endif %}
          </span>
          <h4><a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/" class="twotter_link">{{ twoot.twotter_profile.display_name }}</a></h4><br>
          <hr class="w3-clear">
          <p class="twoot_text">{{ twoot.text }}</p>
          <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom retwoot_button" id="retwoot_{{ twoot.pk }}"><i class="fa fa-retweet {% if twoot.pk in user_retwoot_pks %}retwooted{% endif %}"></i>{% if twoot.retwoot_count > 0 %} {{ twoot.retwoot_count }} {% endif %}</button>
          <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom favorite_button" id="favorite_{{ twoot.pk }}"><i class="fa fa-heart {% if twoot.pk in user_favorite_pks %}favorited{% endif %}"></i>{% if twoot.favorite_count > 0 %} {{ twoot.favorite_count }} {% endif %}</button> 
          <!-- To be implemented !
          <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> -->
        </div>
      {% endfor %}
      </div>

      <!-- Favorite Display Section -->
      <div class="display_section" id="profile_favorites">
      {% for favorite_creation_date, twoot in favorites %}
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin twoot_display" id="twoot_{{ twoot.pk }}">
          <i class="fa fa-heart"></i> <a href="{{ request.host_name }}/twotter/user/{{ twotter_profile.user.username }}/">{{ twotter_profile.display_name }}</a> favorited this on {{ favorite_creation_date }}<br><br>
          <a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/"><img src="{{ twoot.twotter_profile.avatar_url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right twotter_link twoot_avatar"></a>
          <span class="w3-right w3-opacity">
          {% if user == twoot.twotter_profile.user or user.username == "admin" %}
            <li class="w3-right w3-dropdown-click">
              <i class="fa fa-caret-down dropdown_toggle" aria-hidden="true"></i>
              <div class="w3-dropdown-content w3-white w3-card-4" style="right: 0;">
                <a href="javascript:void(0)" id="delete_{{ twoot.pk }}" onclick="delete_twoot(this.id)">Delete</a>
              </div>
            </li>
          {% endif %}
            <br>
            <a href="{{ request.host_name }}/twotter/twoot/{{ twoot.pk}}/" class="twotter_link">{{ twoot.creation_date }}</a>
        {% if user.is_authenticated and user != twoot.twotter_profile.user %}
            <br>
            <span class="w3-right">
              <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom follow_button follow_{{ twoot.twotter_profile.pk }}" name="follow_{{ twoot.twotter_profile.pk }}" title="Follow/Unfollow User"><i class="fa {% if twoot.twotter_profile.pk in user_following_pks %}fa-user-times followed{% else %}fa-user-plus{% endif %}"></i></button>
            </span>
        {% endif %}
          </span>
          <h4><a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/" class="twotter_link">{{ twoot.twotter_profile.display_name }}</a></h4><br>
          <hr class="w3-clear">
          <p class="twoot_text">{{ twoot.text }}</p>
          <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom retwoot_button" id="retwoot_{{ twoot.pk }}"><i class="fa fa-retweet {% if twoot.pk in user_retwoot_pks %}retwooted{% endif %}"></i>{% if twoot.retwoot_count > 0 %} {{ twoot.retwoot_count }} {% endif %}</button>
          <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom favorite_button" id="favorite_{{ twoot.pk }}"><i class="fa fa-heart {% if twoot.pk in user_favorite_pks %}favorited{% endif %}"></i>{% if twoot.favorite_count > 0 %} {{ twoot.favorite_count }} {% endif %}</button> 
          <!-- To be implemented !
          <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> -->
        </div>
      {% endfor %}
      </div>

      <!-- Following Display Section -->
      <div class="display_section" id="profile_following">
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin twoot_display">
      {% for profile in following %}
          <br>
          <a href="{{ request.host_name }}/twotter/user/{{ profile.user.username }}/"><img src="{{ profile.avatar_url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right twotter_link twoot_avatar"></a>
          <span class="w3-right w3-opacity">
            <a href="{{ request.host_name }}/twotter/user/{{ profile.user.username }}/" class="twotter_link">Created {{ profile.creation_date }}</a>
        {% if user.is_authenticated and user != profile.user %}
            <br>
            <span class="w3-right">
              <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom follow_button follow_{{ profile.pk }}" name="follow_{{ profile.pk }}" title="Follow/Unfollow User"><i class="fa {% if profile.pk in user_following_pks %}fa-user-times followed{% else %}fa-user-plus{% endif %}"></i></button>
            </span>
        {% endif %}
          </span>
          <h4><a href="{{ request.host_name }}/twotter/user/{{ profile.user.username }}/" class="twotter_link">{{ profile.display_name }}</a></h4>
          <hr class="w3-clear">
      {% endfor %}
        </div>
      </div>

      <!-- Followers Display Section -->
      <div class="display_section" id="profile_followers">
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin twoot_display">
      {% for profile in followers %}
          <br>
          <a href="{{ request.host_name }}/twotter/user/{{ profile.user.username }}/"><img src="{{ profile.avatar_url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right twotter_link twoot_avatar"></a>
          <span class="w3-right w3-opacity">
            <a href="{{ request.host_name }}/twotter/user/{{ profile.user.username }}/" class="twotter_link">Created {{ profile.creation_date }}</a>
        {% if user.is_authenticated and user != profile.user %}
            <br>
            <span class="w3-right">
              <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom follow_button follow_{{ profile.pk }}" name="follow_{{ profile.pk }}" title="Follow/Unfollow User"><i class="fa {% if profile.pk in user_following_pks %}fa-user-times followed{% else %}fa-user-plus{% endif %}"></i></button>
            </span>
        {% endif %}
          </span>
          <h4><a href="{{ request.host_name }}/twotter/user/{{ profile.user.username }}/" class="twotter_link">{{ profile.display_name }}</a></h4>
          <hr class="w3-clear">
      {% endfor %}
        </div>
      </div>
      
    <!-- End Middle Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<!-- Profile specific javascript to display twoots/retwoots or favorites on page -->
<script type="text/javascript">
  $(document).ready(function() {
      var hash = window.location.hash

      // Load page on either favorites or twoots depending on the url hash
      if (hash === "#twoots") {
        toggle_twoots();
      }
      else if (hash === "#favorites") {
        toggle_favorites();
      }
      else if (hash === "#following") {
        toggle_following();
      }
      else if (hash === "#followers") {
        toggle_followers();
      }
      else {
        window.location.hash = "";
        toggle_twoots();
      }

      // Swaps page to view twoots/retwoots on twoots toggle class click
      $(".twoots_toggle").click( function() {
        toggle_twoots();
      });
      
      // Swaps page to view twoots/retwoots on twoots toggle class click
      $(".favorites_toggle").click( function() {
        toggle_favorites();
      });

      // Swaps page to view profile's following list on twoots toggle class click
      $(".following_toggle").click( function() {
        toggle_following();
      });
      
      // Swaps page to view  profile's followers list on twoots toggle class click
      $(".followers_toggle").click( function() {
        toggle_followers();
      });

  });

  // Switches the page to the twoots/retwoots representation by hiding favorites and showing twoots
  function toggle_twoots() {
    enable_buttons_hide_displays();

    $("#profile_twoots_button").prop("disabled", true);
    $("#profile_twoots").show();
  };

  // Switches the page to the twoots/retwoots representation by hiding favorites and showing twoots
  function toggle_favorites() {
    enable_buttons_hide_displays();

    $("#profile_favorites_button").prop("disabled", true);
    $("#profile_favorites").show();
  };

  // Switches the page to the twoots/retwoots representation by hiding favorites and showing twoots
  function toggle_following() {
    enable_buttons_hide_displays();

    $("#profile_following_button").prop("disabled", true);
    $("#profile_following").show();
  };

  // Switches the page to the twoots/retwoots representation by hiding favorites and showing twoots
  function toggle_followers() {
    enable_buttons_hide_displays();

    $("#profile_followers_button").prop("disabled", true);
    $("#profile_followers").show();
  };

  // Enables all toggle buttons and hides all displays.
  function enable_buttons_hide_displays() {
    $("#toggle_links").find("button").each( function() {
      $(this).prop("disabled", false);
    });

    $(".display_section").each( function() {
      $(this).hide();
    });
  };

</script>
<br>
{% endblock content %}