<!DOCTYPE html>
{% extends "twotter/base.html" %}
{% load staticfiles %}

{% block title %}
  {% if twotter_profile %}
    {{ twotter_profile.display_name }}'s Profile
  {% else %}
    404 Profile Page
  {% endif %}
{% endblock title %}

{% block content %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">{{ twotter_profile.display_name }}</h4>
         <p class="w3-center"><img src="{{ twotter_profile.avatar_url }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil w3-margin-right w3-text-theme"></i> {{ twotter_profile.description }}</p>
         <p><i class="fa fa-home w3-margin-right w3-text-theme"></i> {{ twotter_profile.location }}</p>
         <p><i class="fa fa-birthday-cake w3-margin-right w3-text-theme"></i> {{ twotter_profile.birthday }}</p>
         <p id="twoot_count"><i class="fa fa-file-text-o w3-margin-right w3-text-theme"></i> {{ twotter_profile.twoot_count }} Twoots</p>
         <p id="favorite_count"><i class="fa fa-file-text-o w3-margin-right w3-text-theme"></i> {{ twotter_profile.favorite_count }} Favorites</p>
         <p><i class="fa fa-user w3-margin-right w3-text-theme"></i> {{ twotter_profile.follower_count }} Followers</p>
       {% if user == twotter_profile.user %}
         <a href="{{ request.host_name }}/twotter/settings/"><button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom" style="width: 100%;">Edit Profile Settings</button></a>
       {% endif %}
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m8">
    
    <!-- Twoot Post Form -->
    {% if user.is_authenticated and user == twotter_profile.user %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3>{{ twotter_profile.user.username }}'s Profile Page</h3><br>
              <h6 class="w3-opacity">What's happening?</h6>
              <p contenteditable="true" class="w3-border w3-padding" name="twoot" id="twoot_text">Enter 140 character twoot here!</p>
              <button class="w3-btn w3-theme" name="button" value="make_twoot" id="twoot_button" disabled><i class="fa fa-pencil"></i>  Twoot!</button><span id="twoot_character_count"></span>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3>{{ twotter_profile.user.username }}'s Profile Page</h3><br>
            {% if not user.is_authenticated %}
              <h6 class="w3-opacity">Guest users can't make twoots. <br><a href="login/">Please sign in or make an account.</a></h6> 
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

      <!--- Twoot Display Section -->
      <div id="twoot_feed">
      {% for twoot in twoots %}
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin twoot_display" id="twoot_{{ twoot.pk }}"><br>
          <a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/"><img src="{{ twoot.twotter_profile.avatar_url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right twotter_profile_link" style="width:60px"></a>
          <span class="w3-right w3-opacity">
          {% if user == twoot.twotter_profile.user or user.username == "admin" %}
            <li class="w3-right w3-dropdown-click">
              <i class="fa fa-caret-down dropdown_toggle" aria-hidden="true"></i>
              <div class="w3-dropdown-content w3-white w3-card-4" style="right: 0;">
                <a href="#" id="delete_{{ twoot.pk }}" onclick="delete_twoot(this.id)">Delete</a>
              </div>
            </li>
          {% endif %}
            <br>
            {{ twoot.creation_date }}</span>
          <h4><a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/" class="twotter_profile_link">{{ twoot.twotter_profile.display_name }}</a></h4><br>
          <hr class="w3-clear">
          <p class="twoot_text">{{ twoot.text }}</p>
        {% if user.is_authenticated %}
          <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom favorite_button" id="favorite_{{ twoot.pk }}"><i class="fa fa-heart"></i>{% if twoot.favorite_count > 0 %} {{ twoot.favorite_count }} {% endif %}</button> 
          <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
        {% endif %}
        </div>
      {% endfor %}
      </div>
      
    <!-- End Middle Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
{% endblock content %}