<!DOCTYPE html>
{% extends "twotter/base.html" %}
{% load staticfiles %}

{% block title %}Twoot #{{ twoot.pk }}'s Page{% endblock title %}

{% block content %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">    
    <div class="w3-col m7">

    <!--- Twoot Display Section -->
    <div id="twoot_feed">
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin twoot_display" id="twoot_{{ twoot.pk }}"><br>
        <a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/"><img src="{{ twoot.twotter_profile.avatar_url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right twotter_link twoot_avatar"></a>
        <span class="w3-right w3-opacity">
      {% if user == twoot.twotter_profile.user or user.username == "admin" %}
          <li class="w3-right w3-dropdown-click">
            <i class="fa fa-caret-down dropdown_toggle" aria-hidden="true"></i>
            <div class="w3-dropdown-content w3-white w3-card-4" style="right: 0;">
              <a href="#" id="delete_{{ twoot.pk }}" onclick="delete_twoot(this.id)">Delete</a>
            </div>
          </li>
      {% endif %}
          <br>
          <a href="{{ request.host_name }}/twotter/twoot/{{ twoot.pk}}/" class="twotter_link">{{ twoot.creation_date }}</a></span>
        <h4><a href="{{ request.host_name }}/twotter/user/{{ twoot.twotter_profile.user.username }}/" class="twotter_link">{{ twoot.twotter_profile.display_name }}</a></h4><br>
        <hr class="w3-clear">
        <p class="twoot_text">{{ twoot.text }}</p>
        <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom retwoot_button" id="retwoot_{{ twoot.pk }}"><i class="fa fa-retweet"></i>{% if twoot.retwoot_count > 0 %} {{ twoot.retwoot_count }} {% endif %}</button> 
      {% for retwoot in twoot.retwoots.all %}
        <a href="{{ request.host_name }}/twotter/user/{{ retwoot.twotter_profile.user.username }}/"><img src="{{ retwoot.twotter_profile.avatar_url }}" alt="Avatar" class="w3-circle w3-margin-right twotter_profile_link twoot_avatar"></a>
      {% endfor %}
        <br>
        <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom favorite_button" id="favorite_{{ twoot.pk }}"><i class="fa fa-heart"></i>{% if twoot.favorite_count > 0 %} {{ twoot.favorite_count }} {% endif %}</button> 
      {% for favorite in twoot.favorites.all %}
        <a href="{{ request.host_name }}/twotter/user/{{ favorite.twotter_profile.user.username }}/"><img src="{{ favorite.twotter_profile.avatar_url }}" alt="Avatar" class="w3-circle w3-margin-right twotter_profile_link twoot_avatar"></a>
      {% endfor %}
        <!-- To be implemented!
        <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> -->
      </div>
    </div>
      
    <!-- End Middle Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

{% endblock content %}